# Data (large files)
data/raw/
data/processed/
*.sdf
*.mol2
*.pdb
*.pdbqt

# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
dist/
build/

# Notebooks checkpoints
.ipynb_checkpoints/

# Models
experiments/checkpoints/
*.pt
*.pth
*.ckpt
*.pkl

# Env secrets
.env

# OS
.DS_Store
Thumbs.db

# Logs / wandb
*.log
experiments/logs/
wandb/
